html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  touch-action: none;
  user-select: none;
}