@import 'tailwindcss';
@plugin "daisyui";

.demo-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.demo-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.demo-item h3 {
  color: #fff;
  font-family: system-ui, sans-serif;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}

.rubber-element {
  width: 60px;
  height: 120px;
  background: white;
  border-radius: 30px;
  cursor: grab;
  touch-action: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
